body {
  font-family: "Cabin", sans-serif;
}

#spacebar {
  font-size: 0.9em;
  height: 75px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.leftbar {
  width: 40%;
  margin-left: 15px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
}

.rightbar {
  font-size: 12px;
  font-weight: bold;
  color: rgb(158, 158, 158);
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#backgroundpic {
  position: relative;
}

#bg {
  height: auto;
  width: 100%;
  z-index: -1;
}

#scrollingtext {
  height: 40px;
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  padding-top: 100px;
  color: white;
  background-color: rgba(44, 44, 44, 0.712);
  z-index: 10;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#starshiptext {
  display: flex;
  margin-left: 25px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

#watchbutton {
  font-size: 10px;
  color: black;
  height: 30px;
  width: 200px;
  background-color: whitesmoke;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
  margin-right: 25px;
  margin-bottom: 30px;
}

.threebuttons {
  font-size: 12px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  background-color: rgb(31, 29, 29);
}

#starship {
  color: white;
  margin: 10px 30px;
}
#smallsat {
  color: white;
  margin-top: 10px;
  margin-right: 30px;
}
#dragon {
  color: white;
  margin-top: 10px;
  margin-right: 30px;
}

#graybar {
  color: black;
  text-align: center;
  padding-top: 50px;
  background-color: rgba(202, 193, 193, 0.3);
}

#whiteboxes {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#reusability {
  font-size: 18px;
  font-weight: bold;
  height: 260px;
  width: 300px;
  border: 1px solid whitesmoke;
  box-shadow: 3px 3px 5px 2px lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#commercialcrew {
  font-size: 18px;
  font-weight: bold;
  height: 260px;
  width: 300px;
  border: 1px solid whitesmoke;
  box-shadow: 3px 3px 5px 2px lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#multiplanetary {
  font-size: 18px;
  font-weight: bold;
  height: 260px;
  width: 300px;
  border: 1px solid whitesmoke;
  box-shadow: 3px 3px 5px 2px lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#footer {
  margin-top: 300px;
  color: white;
  height: 75px;
  width: 100%;
  font-size: 12px;
  background: black;
}
